/* CSS declarations go here */
html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.pageLeft{
  background-color : rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0px;
  top: 25px;
  height : 70%;
  width : 20%;
  z-index : 1;
}
.pageFooter{
  background-color : rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  bottom: 0px;
  height : 35%;
  width : 70%;
  z-index : 2;
}

#slider-range {
  position: absolute;
  height: 2px;
  width: 80%;
  left: 10%;
}

#amount {
  border: 0;
  color: #f6931f;
  font-weight:bold;
}
